version: "3.9"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_R2DBC_URL: r2dbc:postgresql://postgres:5432/learning_db
      SPRING_R2DBC_USERNAME: demo
      SPRING_R2DBC_PASSWORD: demo
      SPRING_FLYWAY_URL: jdbc:postgresql://postgres:5432/learning_db
      SPRING_FLYWAY_USER: demo
      SPRING_FLYWAY_PASSWORD: demo
    ports:
      - "8080:8080"

  postgres:
    image: postgres:16
    container_name: local-postgres
    environment:
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: demo
      POSTGRES_DB: learning_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: